<!-- Javascripts -->
<script type='text/javascript' src='/js/analytics.js'></script>
<script type='text/javascript' src='/js/jquery-1.10.2.min.js'></script>
<script type='text/javascript' src='/js/opacity_on_scroll.js'></script>
<script async type='text/javascript' src='/js/disqus.js'></script>
<!-- <script type='text/javascript' src='/js/simpleDropdown.js'></script> -->

<script>
$(function() {
    $(window).resize(function() {
        $('.cover').height($(window).height());
    });
    $(window).resize();
});
</script>
