{% if paginator.total_pages > 1 %}
<div class="pagination">
    {% if paginator.previous_page %}
    <a class='button' rel="prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Newer Posts</a>
    {% else %}
    <span class='button disabled'>&laquo; Newer Posts</span>
    {% endif %}

    {% if paginator.next_page %}
    <a class='button right' rel="next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &raquo;</a>
    {% else %}
    <span class='button right disabled'>Older Posts &raquo;</span>
    {% endif %}
</div>
{% endif %}
