body { background: #222; }
.content { background: #fff; }
.bar {
    width: 100%;
    padding: 0 1em;
    position: fixed;
    z-index: 3;
}
.cover {
    width: 100%;
    position: relative;
    z-index: 2;
}
.posts, .footer { @include outer-container(em(800)); }
.post, .pagination, .footer {
    padding: 2em 1em;
    border-bottom: 1px solid $light-gray;
}
.right { float: right; @include clearfix; }
.footer {
    text-align: center;
}

.dim {
    margin: 0;
    color: $medium-gray;
    font-size: .85em;
}
