.cover {
    background: url('/img/Covers/main-unsplash.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: $base-background-color;

    .category, .meta { @extend %h5; }
    .post-title { @extend %h1; }
    display: table;
}

.programming {
    background: url('/img/Covers/programming-unsplash.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.nonsense {
    background: url('/img/Covers/nonsense-unsplash.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*
.desc-wrapper {
    bottom: 5em;
    position: absolute;
}
*/
.pre-desc { @extend %h2; }
.description {
    @extend %h1;
    margin: 0;
    font-weight: lighter;
    font-family: $helvetica;
}

.desc-wrapper {
    display: table-cell;
    vertical-align: middle;
    padding: 0 3em;
}

.desc-wrapper:after {
    content: " ";
    width:100%;
    height:100%;
    position:absolute;
    top: 0;
    left: 0;
    background-color:#000;
    opacity:0.6;
    z-index: -1;
}

@media screen and (max-width: 700px) {
    .cover {
        .pre-desc { font-size: 2em; }
        .category, .meta { font-size: 1em; }
        .description { font-size: 3em; }
        .post-title { font-size: 2.5em; }
        .desc-wrapper { padding: 0 2em; }
    }
}
