.cover {
    background: $medium-gray;
    color: $base-background-color;

    .category, .meta { @extend %h5; }
    .post-title { @extend %h1; }
    display: table;
}
/*
.desc-wrapper {
    bottom: 5em;
    position: absolute;
}
*/
.pre-desc { @extend %h2; }
.description {
    @extend %h1;
    margin: 0;
    font-weight: lighter;
    font-family: $helvetica;
}

.desc-wrapper {
    display: table-cell;
    vertical-align: middle;
    padding: 0 3em;
}

@media screen and (max-width: 700px) {
    .cover {
        .pre-desc { font-size: 2em; }
        .category, .meta { font-size: 1em; }
        .description, .post-title { font-size: 3em; }
        .desc-wrapper { padding: 0 2em; }
    }
}
