.cover {
    background: $medium-gray;
    color: $base-background-color;
}
.desc-wrapper { padding: 23% 10%; }
.pre-desc { @extend %h2 }
.description {
    @extend %h1;
    margin: 0;
    font-weight: lighter;
    font-family: $helvetica;
}
