.title {
    margin: 0;
    font-family: $helvetica;
}
.title, .nav li
{
    padding: 1em;
    display: inline-block;
    text-transform: uppercase;
}

.nav { float: right; }

.bar-bg {
    background: #222;
    position: fixed;
    height: 3.5em;
    width: 100%;
    top: 0;
    z-index: 1;
}
