.post {
    .meta, .category { color: $medium-gray; }
    .post-title {
        @extend %h4;
        a {
            color: $dark-gray;
            &:active,
            &:focus,
            &:hover {
                color: $action-color;
            }
        }
    }
}
.meta { margin: $small-spacing 0; }
.category {
    margin: 0;
    font-family: $helvetica;
    text-transform: capitalize;
}

.comment-button { text-align: center; }
.show-comments {
    width: 250px;
    margin: 2em 0;
}

.dalil { text-align: right; }
